ollama                             # for offline LLMs
llama-index
pytorch
llama-index-llms-ollama            # to use offline models
llama-index-embeddings-huggingface # to use offline models
llama-index-llms-huggingface       # to use offline models
transformers